<div class="container" [class.dark-mode]="isDarkMode">

  <div class="project-page-wrapper" #wrapper>

    <div class="navigate-back-btn" *ngIf="scrollY > windowWidth * 0.66">
      <a [routerLink]="['/berzsak']">take me back</a>
    </div>

    <!-- brand name -->
    <div class="brand-name">
      <button class="brand-name-button" (click)="onBrandClick()">BERZSAK.</button>
    </div>

    <div class="project-mainImage" #mainImage>
      <img
        src="{{project.mainImgUrl[1]}}"
        [srcset]="getSrcset(project.mainImgUrl)"
        sizes="95vw"
      draggable="false">
    </div>

    <div class="fade-div" *ngIf="windowWidth < 1200"></div>

    <button class="see-more-btn" #seeMoreBtn (click)="scrollDown()">
      See more <i class="fa fa-arrow-down"></i>
    </button>

    <div class="project-name">
      <h1>{{ project.name }}</h1>
    </div>

    <div class="project-description-wrapper">
      <div class="project-description">
        <p>{{ project.longDescription[0] }}</p>
      </div>
      <div class="project-description">
        <p>{{ project.longDescription[1] }}</p>
      </div>
    </div>

    <div class="project-data">
      <p [innerHTML]="project.projectData"></p>
    </div>

    <div class="project-image-gallery-div">
      <div class="project-image-gallery" *ngFor="let imageVariant of project.imageUrls | slice:1" (click)="openGallery(project.imageUrls.indexOf(imageVariant))">
        <img [src]="imageVariant[1]"
             [srcset]="getSrcset(imageVariant)"
             sizes="95vw"
             draggable="false">
      </div>
    </div>

    <div class="another-project">
      <span (click)="anotherProject()">
        <i class="fas fa-angles-right"></i>
        check out another project
      </span>
    </div>

    <hr>

    <div class="contact-div">
      <div class="facebook">
        <a class="fab fa-facebook" target="_blank" href="https://www.facebook.com/irishgreenbycsilla?locale=hu_HU"></a>
      </div>
      <div class="instagram">
        <a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/berzsak_/"></a>
      </div>
      <div class="behance">
        <a class="fab fa-behance" target="_blank" href="https://www.behance.net/berzsak_"></a>
      </div>
      <div class="email">
        <a class="fas fa-envelope"
           (click)="openMail()">
        </a>
      </div>
    </div>

  </div>

  <div class="project-page-gallery-wrapper" *ngIf="showGallery">
    <div class="project-page-gallery">
      <div class="project-page-gallery-close">
        <span (click)="showGallery = false">×</span>
      </div>
      <div class="project-page-gallery-switch-left">
        <span (click)="galleryIndex = galleryIndex - 1" [class.hide]="galleryIndex < 1">‹</span>
      </div>
      <div class="project-page-gallery-images">
        <img
          src="{{project.imageUrls[galleryIndex][1]}}"
          [srcset]="getSrcset(project.imageUrls[galleryIndex])"
          sizes="80vw"
          [alt]="project.name"
        draggable="false">
      </div>
      <div class="project-page-gallery-switch-right">
        <span (click)="galleryIndex = galleryIndex + 1" [class.hide]="galleryIndex > project.imageUrls.length - 2">›</span>
      </div>
    </div>
  </div>

</div>
