.project-page-container {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  scrollbar-width: none;
  padding-bottom: 5%;
}

.navigate-back-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.navigate-back-btn a {
  text-decoration: none;
  color: black;
}

.navigate-back-btn a:hover {
  font-weight: bold;
}

.brand-name {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2000;
}

.brand-name-button {
  color: black;
  cursor: pointer;
  border: none;
  background-color: rgba(241, 241, 241, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /*Safari*/
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "Monserrat", Arial, sans-serif;
  transform: rotate(180deg);
}

.project-mainImage {
  position: relative;
  width: 100%;
  height: auto;
}

.project-mainImage img {
  width: 100%;
  height: auto;
}

.project-name {
  position: relative;
  margin-top: 1rem;
  width: 80%;
  font-weight: 400;
}

.project-name h1 {
  color: black;
  text-align: left;
}

.project-description {
  position: relative;
  width: 80%;
}

.project-description p {
  color: black;
  text-align: left;
}

.project-image-gallery-div {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-top: 5%;
}

.project-image-gallery {
  position: relative;
  width: 80%;
  height: auto;
}

.project-image-gallery img {
  width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 2rem 0;
  width: 80%;
  align-self: center;
}

.contact-div {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.socials {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
