.profile-grid {
  margin-top: 80px;
  width: 80%;
  height: 65%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.profile-description {
  width: 35%;
  color: var(--font_color);
}

.profile-description p {
  margin-top: 20px;
  white-space: pre-line;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: justify;
}

.profile-pic {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-pic img {
  height: 100%;
  width: auto;
}

hr {
  justify-self: center;
  padding-bottom: 20px;
}
