<div class="container" [class.sidebar-open]="selectedProject">

  <!-- brand name -->
  <div class="brand-name">
    <button class="brand-name-button" (click)="showContact()">BERZSAK.</button>
  </div>

  <!-- Grid/Experience button -->
  <div class="view-button" [hidden]="selectedProject">
    <button class="view-btn" (click)="viewChange()">
    <span class="view-icon">
      <!-- use a grid/list icon based on status -->
      <i *ngIf="view.value === 'Grid view'" class="fa fa-grip"></i>
      <i *ngIf="view.value === 'Experience view'" class="fa fa-arrows"></i>
    </span>
      <span class="view-text">{{ view.value }}</span>
    </button>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="selectedProject" [@sidebarSlide] (@sidebarSlide.done)="onSidebarAnimDone($event)">
    <h2 class="sidebar-name">{{ selectedProject.name }}</h2>
    <h3 class="sidebar-description">{{ selectedProject.description }}</h3>

    <div class="sidebar-main">
      <img [src]="selectedProject.mainImgUrl" [alt]="selectedProject.name"
           [attr.data-project-name]="selectedProject.name">
    </div>

    <div class="gallery">
      <img *ngFor="let img of selectedProject.imageUrls" [src]="img" [alt]="selectedProject.name">
    </div>
  </div>
  <button *ngIf="selectedProject" class="close-btn" (click)="closeSidebar()">✕</button>


  <!-- Grid-Experience -->
  <div *ngIf="view.status === ViewStatus.EXPERIENCE" class="grid-experience" #gridExp [@gridSlide]="gridState" (@gridSlide.done)="onGridAnimDone($event)"
       (mousedown)="handleExperienceInteraction($event)"
       (mousemove)="onExperienceDrag($event)">
    <div *ngFor="let project of projects" class="grid-item">
      <img [src]="project.mainImgUrl" [alt]="project.name" [attr.data-project-name]="project.name"
           (click)="onImageClick($event, project)" draggable="false">
    </div>
  </div>

  <!-- Grid-Col3 -->
  <div class="grid-container" *ngIf="view.status === ViewStatus.GRID">
    <div class="fade-div"></div>
    <div class="grid-col3" #gridCol3>
      <div *ngFor="let project of projects" class="grid-item">
        <div class="item-gallery"
             (mousedown)="handleCol3Interaction($event)"
             (mousemove)="onCol3Drag($event)">
          <img *ngFor="let img of project.imageUrls" [src]="img" draggable="false">
        </div>
      </div>
    </div>
  </div>

</div>
