.container {
  display: flex;
  height: 100vh;
  width: 100vw; /* use full viewport width */
  position: relative;
  background-color: lightblue;
}

.sidebar {
  width: 300px; /* optional: limit on larger screens */
  height: 100%;
  position: fixed; /* keep grid independent */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-main {
  width: 100%;
  height: auto;
  object-fit: cover;
  visibility: visible; /* default, TS overrides during animation */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 5px;
  overflow: auto;
  cursor: grab;
  user-select: none;
}

.grid:active {
  cursor: grabbing;
}

.grid-item {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item:nth-child(2n) {
  transform: translateY(150px)
}

.grid-item img {
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  user-select: none;
  pointer-events: auto;
}

.grid-item img:hover {
  transform: scale(1.05);
}

/* Gallery inside sidebar */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.gallery img {
  width: 60px;
  height: 60px;
  align-self: center;
  object-fit: cover;
  border-radius: 4px;
}
