.brand-name:hover {
  .brand-name-button.exp-view {
    color: var(--primary-dark-grey);
  }
}

.brand-name-button.exp-view {
  color: var(--primary-light-grey);
}

.view-button {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  width: 130px;
}

@media (max-width: 500px) {
  .view-button {
    top: 10px;
    right: 10px;
    left: auto;
    transform: none;
  }
}

.view-btn {
  background-color: var(--primary-background);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 0.1rem solid var(--primary-dark-grey);
  transition: background 0.3s, transform 0.2s;
}

.view-btn:hover {
  transform: scale(1.02);
}

.view-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.view-icon img {
  width: 15px;
  height: 15px;
  color: var(--primary-dark-grey);
  transform: rotateZ(0);
  transition: transform 0.2s;
}

.view-button:hover .view-icon img {
  transform: rotateZ(45deg);
}

.view-button.exp-view .view-icon img {
  transform: rotateZ(45deg);
}

.view-button.exp-view:hover .view-icon img {
  transform: rotateZ(0);
}

.view-text {
  width: 100%;
  color: var(--primary-dark-grey);
  font-size: 0.6rem;
  font-weight: 400;
  align-self: center;
  justify-content: center;
}

.contact-div-experience {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 1 0;
  z-index: 999;
}

.contact-div-experience a {
  font-size: 1.5rem;
  color: var(--primary-light-grey);
  text-decoration: none;
}

.contact-div-experience a:hover {
  color: var(--primary-dark-grey);
}

.sidebar-main-wrapper {
  position: fixed;
  width: 40vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--primary-font_color);
  background-color: var(--primary-background);
  z-index: 1500;
}

.sidebar-main-wrapper .fade-div {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 39%;
  z-index: 1900;
  background-color: var(--primary-background);
  opacity: 1;
}

.sidebar-scroll-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.sidebar-name {
  margin-top: 40px;
  width: 85%;
  color: var(--primary-font_color);
}

.sidebar-description {
  width: 85%;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--primary-font_color);
}

.sidebar-main-image {
  position: relative;
  width: 85%;
  height: auto;
  visibility: visible; /* default, TS overrides during animation */
}

.sidebar-main-image img {
  width: 100%;
  height: auto;
}

.sidebar-gallery-switch-btn {
  position: absolute;
  width: 100%;
  height: calc(40vw*0.85*0.6666);
  display: flex;
  justify-content: space-between;
  z-index: 1800;
}

.sidebar-gallery-switch-btn button {
  position: relative;
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  font-size: 1vw;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  border: none;
  -webkit-tap-highlight-color: transparent; /* iOS/Chrome/Safari */
}

/* Add gradient overlay using ::before */
.sidebar-gallery-switch-btn button::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease; /* fade in/out */
}

/* Left gradient */
.left-btn::before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, rgba(85, 85, 85, 1) 100%);
}

/* Right gradient */
.right-btn::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(85, 85, 85, 1) 100%);
}

/* On hover, fade overlay in */
@media (hover: hover) and (pointer: fine) {
  .sidebar-gallery-switch-btn button:hover::before {
    opacity: 1;
  }
}

/* Gallery inside sidebar */
.gallery {
  box-sizing: border-box;
  margin-top: -7px;
  padding: 0 2px;
  width: 85%;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.1rem;
}

.gallery-box {
  box-sizing: border-box;
  max-height: 68px;
  max-width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gallery-box img {
  min-width: 0;
}

.gallery-box:hover {
  transform: scale(1.025);
}

.gallery-box.active {
  border: 2px solid #000;
  transform: scale(1.05);
}

.close-btn {
  position: fixed;
  width: 33px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--primary-font_color);
  background: var(--primary-background);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.close-btn.show {
  opacity: 1;
}

.sidebar-name,
.sidebar-description,
.gallery,
.sidebar-navigate-btn,
.sidebar-gallery-switch-btn {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.sidebar-navigate-btn {
  position: relative;
  align-self: end;
  right: 7.5%;
}

.sidebar-navigate-btn a{
  position: relative;
  display: block;
  text-align: right;
  width: auto;
  font-size: 1vw;
  color: var(--primary-font_color);
  text-decoration: none;
  white-space: nowrap;
}

.sidebar-navigate-btn a:hover {
  font-weight: bold;
}

/* Grid */
.grid-experience-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  touch-action: none;
  cursor: grab;
}

.grid-experience-wrapper:active {
  cursor: grabbing;
}

.grid-experience {
  min-width: max-content;
  min-height: max-content;
  display: grid;
  padding: 5%;
}

.grid-experience .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: start;
  margin-top: 0;
  border-radius: 7%;
}

/* Ensure images stay centered and scale properly */
.grid-experience .grid-item img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* Portrait mode (height > width) */
@media (orientation: portrait) {
  .grid-experience {
    --tile: 50vw;
    grid-template-columns: repeat(4, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: clamp(20px, 20vw, 300px);
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger every 2nd item for checkerboard */
  .grid-experience .grid-item:nth-child(4n+2),
  .grid-experience .grid-item:nth-child(4n+4) {
    transform: translateY(calc(50% + (clamp(20px, 20vw, 300px) / 2)));
  }
}

@media (orientation: portrait) and (aspect-ratio < 0.68) {
  .grid-experience {
    --tile: 340px;
    grid-template-columns: repeat(4, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: 30vw;
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger every 2nd item for checkerboard */
  .grid-experience .grid-item:nth-child(4n+2),
  .grid-experience .grid-item:nth-child(4n+4) {
    transform: translateY(calc(50% + (clamp(20px, 20vw, 300px) / 2)));
  }
}

/* Landscape mode (width > height) */
@media (orientation: landscape) {
  .grid-experience {
    --tile: 26vw;
    grid-template-columns: repeat(4, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: 8vw;
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger 2nd and 4th items for checkerboard */
  .grid-experience .grid-item:nth-child(4n+2),
  .grid-experience .grid-item:nth-child(4n+4) {
    transform: translateY(calc(50% + (8vw / 2)));
  }
}

.container:not(.sidebar-open) .grid-experience .grid-item img:hover {
  transform: scale(1.05);
}

/* Grid view */
.grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.grid-wrapper .fade-div {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 40px, rgba(241, 241, 241, 0) 70px);
  z-index: 1;
  height: 70px;
}

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(3, 28vw);
  row-gap: 40px;
  width: 90%;
  padding-top: 70px;
  justify-content: space-between;
}

.grid-col3 .grid-item {
  position: relative;
  width: 28vw;
  height: 28vw;
  border: 1px solid var(--primary-font_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-gallery {
  position: absolute;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 2vw;
  width: 80%;
  height: 80%;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
}

.item-gallery:active {
  scroll-snap-type: none;
  scroll-behavior: auto;
  cursor: grabbing;
}

.item-gallery img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 2%;
  scroll-snap-align: center;
}

.col3-navigate-btn {
  position: absolute;
  top: 83%;   /* adjust spacing from top */
  right: 10%;
  text-align: right;
  width: auto;
  max-width: calc(40%);
  font-size: 1vw;
  color: var(--primary-font_color);
  text-decoration: none;
  white-space: nowrap;
}

.col3-navigate-btn:hover {
  font-weight: bold;
}

@media (orientation: portrait) {
  .grid-col3 {
    grid-template-columns: repeat(2, 40vw);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }

}

@media (orientation: landscape) and (aspect-ratio < 1.26) {
  .grid-col3 {
    grid-template-columns: repeat(2, 40vw);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 900px) {
  .grid-col3 {
    grid-template-columns: repeat(2, 40vw);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }

  .col3-navigate-btn {
    font-size: 1.4vw;
  }
}

@media (max-width: 500px) {
  .grid-col3 {
    grid-template-columns: 90vw;
  }

  .grid-col3 .grid-item {
    width: 90vw;
    height: 90vw;
  }

  .item-gallery img {
    width: 100%;
  }

  .col3-navigate-btn {
    font-size: 3.2vw;
  }
}

hr {
  width: 90%;
}

.contact-div {
  padding-bottom: 40px;
}
