.container {
  display: flex;
  height: 100vh;
  width: 100vw; /* use full viewport width */
  position: relative;
  background-color: #f1f1f1;
}

.brand-name {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2000;
  transform: rotateZ(180deg);
}

.brand-name-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
}

.brand-name:hover {
  transform: rotateZ(0);
  .brand-name-button.exp-view {
    color: #555;
  }
}

.brand-name-button.exp-view {
  background-color: rgba(241, 241, 241, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /*Safari*/
  border-radius: 4px;
  color: #ccc;
}

.view-button {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  width: 130px;
}

@media (max-width: 500px) {
  .view-button {
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    transform: none;
  }
}

.view-btn {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 0.1rem solid #555;
  transition: background 0.3s, transform 0.2s;
}

.view-btn:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}

.view-btn:active {
  background-color: #f1f1f1;
}

.view-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.view-icon i {
  font-size: 10px;
  color: #555;
}

.view-text {
  width: 100%;
  color: #555;
  font-size: 0.6rem;
  font-weight: 400;
  align-self: center;
  justify-content: center;
}

.experience-socials {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.experience-socials a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ccc;
}

.experience-socials a:hover {
  color: #555
}

.sidebar {
  width: 40%;
  height: 100%;
  position: fixed; /* keep grid independent */
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid black;
  background-color: #f1f1f1;
  z-index: 1500;
  scrollbar-width: none;
}

.sidebar .fade-div {
  position: fixed;
  height: 30px;
  width: 40%;
  z-index: 1900;
  background-color: #f1f1f1;
  opacity: 1;
}

.sidebar-scroll {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 8%; /* adds extra scrollable space at the bottom */
  box-sizing: border-box;
  scrollbar-width: none;
}

.sidebar-name {
  position: relative;
  width: 85%;
  top: 28px;
  text-align: left;
  color: black;
}

.sidebar-description {
  position: relative;
  top: 0;
  width: 85%;
  font-weight: 300;
  font-size: 0.8rem;
  color: black;
  text-align: left
}

.sidebar-main {
  position: relative;
  width: 85%;
  height: auto;
  top: 13px;
  object-fit: cover;
  visibility: visible; /* default, TS overrides during animation */
}

.sidebar-main img {
  width: 100%;
  height: auto;
}

.sidebar-gallery-switch-btn {
  position: absolute;
  width: 97%;
  top: 48%;
  left: 1.5%;
  display: flex;
  justify-content: space-between;
  z-index: 1800;
}

.sidebar-gallery-switch-btn button {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sidebar-gallery-switch-btn button:hover {
  transform: scale(1.1);
}

/* Gallery inside sidebar */
.gallery {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 85%;
  overflow: visible;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  padding: 5px;
}

.gallery img {
  flex: 1 1 0;
  object-fit: cover;
  border-radius: 4px;
  min-width: 0;
  max-height: 10vh;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin: 1px;
  box-sizing: border-box;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery img.active {
  border: 2px solid #000;
}

.close-btn {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translateX(-50%);
  border: 1px solid black;
  background: #f1f1f1;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.close-btn.show {
  opacity: 1;
}

.sidebar-name,
.sidebar-description,
.gallery,
.sidebar-navigate-btn,
.sidebar-gallery-switch-btn {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.sidebar-navigate-btn {
  position: relative;
  width: 85%;
}

.sidebar-navigate-btn a{
  position: relative;
  display: block;
  margin-top: auto;
  text-align: right;
  width: auto;
  font-size: 1vw;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar-navigate-btn a:hover {
  font-weight: bold;
}

/* Grid */
.grid-experience {
  display: grid;
  overflow: auto;
  cursor: grab;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 5%;
}

.grid-experience .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  align-self: start;
  margin-top: 0;
  border-radius: 7%;
}

/* Ensure images stay centered and scale properly */
.grid-experience .grid-item img {
  width: auto;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: auto;
}

/* Portrait mode (height > width) */
@media (orientation: portrait) {
  .grid-experience {
    --tile: 50vw;
    grid-template-columns: repeat(2, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: clamp(20px, 20vw, 300px);
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger every 2nd item for checkerboard */
  .grid-experience .grid-item:nth-child(2n+2) {
    transform: translateY(calc(50% + (clamp(20px, 20vw, 300px) / 2)));
  }
}

@media (orientation: portrait) and (aspect-ratio < 0.68) {
  .grid-experience {
    --tile: 340px;
    grid-template-columns: repeat(2, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: 30vw;
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger every 2nd item for checkerboard */
  .grid-experience .grid-item:nth-child(2n+2) {
    transform: translateY(calc(50% + (clamp(20px, 20vw, 300px) / 2)));
  }
}

/* Landscape mode (width > height) */
@media (orientation: landscape) {
  .grid-experience {
    --tile: 26vw;
    grid-template-columns: repeat(4, var(--tile));
    grid-auto-rows: calc(var(--tile) * 3897 / 5846);
    gap: 8vw;
    padding-bottom: calc(var(--tile) * 3897 / 5846); /* Extra padding to accommodate lowered grid items */
  }

  .grid-experience .grid-item {
    width: 100%;
    height: 100%;
  }

  /* stagger 2nd and 4th items for checkerboard */
  .grid-experience .grid-item:nth-child(4n+2),
  .grid-experience .grid-item:nth-child(4n+4) {
    transform: translateY(calc(50% + (8vw / 2)));
  }
}

.grid-experience::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.grid-experience:active {
  cursor: grabbing;
}

.container:not(.sidebar-open) .grid-experience .grid-item img:hover {
  transform: scale(1.05);
}

.container.sidebar-open .grid-experience {
  overflow: hidden;
}

.grid-container {
  position: relative; /* Needed to make fade-div absolute relative to this container */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-container .fade-div {
  position: absolute;
  width: 100vw;
  pointer-events: none; /* allows interaction with grid behind */
  background: linear-gradient(to bottom, rgba(241, 241, 241, 1), rgba(241, 241, 241, 0));
  z-index: 1;
  margin-top: 40px;
  height: 30px;
}

.grid-col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  margin-top: 40px;
  position: relative;
  justify-items: center;
}

.grid-col3::-webkit-scrollbar {
  display: none;
}

.grid-col3 .grid-item {
  margin-top: 5%;
  width: 28vw;
  height: 28vw;
  margin-bottom: 5%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-gallery {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 2vw;
  width: 80%;
  height: auto;
  scrollbar-width: none;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
  user-select: none;
}

.item-gallery:active {
  cursor: grabbing;
}

.item-gallery::-webkit-scrollbar {
  display: none;
}

.item-gallery img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2%;
  user-select: none;
  pointer-events: auto;
}

.col3-navigate-btn {
  position: absolute;
  top: 83%;   /* adjust spacing from top */
  right: 10%;
  left: 50%;
  text-align: right;
  width: auto;
  max-width: calc(50% - 10%);
  font-size: 1vw;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.col3-navigate-btn:hover {
  font-weight: bold;
}

@media (orientation: portrait) {
  .grid-col3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }

  .grid-col3 hr {
    width: 90vw;
  }

}

@media (orientation: landscape) and (aspect-ratio < 1.26) {
  .grid-col3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }

  .grid-col3 hr {
    width: 90vw;
  }
}

@media (max-width: 900px) {
  .grid-col3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col3 .grid-item {
    width: 40vw;
    height: 40vw;
  }

  .col3-navigate-btn {
    font-size: 1.4vw;
  }

  .grid-col3 hr {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  .grid-col3 {
    grid-template-columns: 1fr;
  }

  .grid-col3 .grid-item {
    width: 90vw;
    height: 90vw;
  }

  .col3-navigate-btn {
    font-size: 3.2vw;
  }

  .grid-col3 hr {
    width: 90vw;
  }
}

hr {
  position: relative;
  border: none;
  border-top: 2px solid #ccc;
  width: 95%;
  margin-top: 2%;
  grid-column: 1 / -1; /* Make hr span all columns */
  justify-self: center; /* Center hr in the grid */
}

.contact-div {
  position: relative;
  width: 100%;
  margin-top: 2%;
  padding-bottom: 2%;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1; /* Make contact-div span all columns */
}

.socials {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials a{
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
}

.socials a:hover{
  color: #555;
}
