<div class="container" [class.sidebar-open]="selectedProject">

  <!-- brand name -->
  <div class="brand-name">
    <button class="brand-name-button" [class.exp-view]="view.status === ViewStatus.EXPERIENCE" (click)="window.location.href = '/index.html'">BERZSAK.</button>
  </div>

  <!-- Grid/Experience button -->
  <div class="view-button" [hidden]="selectedProject">
    <button class="view-btn" (click)="viewChange()">
    <span class="view-icon">
      <!-- use a grid/list icon based on status -->
      <i *ngIf="view.value === 'Grid view'" class="fa fa-grip"></i>
      <i *ngIf="view.value === 'Experience view'" class="fa fa-arrows"></i>
    </span>
      <span class="view-text">{{ view.value }}</span>
    </button>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="selectedProject && !sidebarDisabled" [@sidebarSlide]
       (@sidebarSlide.done)="onSidebarAnimDone($event)">
    <div class="fade-div"></div>
    <div class="sidebar-scroll">
      <h2 class="sidebar-name">{{ selectedProject.name }}</h2>
      <p class="sidebar-description">{{ selectedProject.description }}</p>

      <div class="sidebar-main">
        <div class="sidebar-gallery-switch-btn">
          <button (click)="updateSelectedImage(selectedImageIndex-1)">
            <i class='fas fa-chevron-left'></i>
          </button>
          <p class="vertical-bar"></p>
          <button (click)="updateSelectedImage(selectedImageIndex+1)">
            <i class='fas fa-chevron-right'></i>
          </button>
        </div>
        <img [src]="selectedProject.imageUrls[selectedImageIndex][4]" [alt]="selectedProject.name"
             [srcset]="getSrcset(selectedProject.imageUrls[selectedImageIndex])"
             sizes="34vw"
             [attr.data-project-name]="selectedProject.name">
      </div>

      <div class="gallery">
        <img *ngFor="let imgVariants of selectedProject.imageUrls; let i = index"
             [src]="imgVariants[4]"
             [srcset]="getSrcset(imgVariants)"
             sizes="{{ getGallerySizes(selectedProject.imageUrls.length) }}"
             [alt]="selectedProject.name"
             (click)="updateSelectedImage(i)"
             [class.active]="selectedImageIndex === i">
      </div>
      <div class="sidebar-navigate-btn">
        <a [routerLink]="['/main', selectedProject.slug]" draggable="false">Take me to project &minus;&gt;</a>
      </div>
    </div>
  </div>
  <button *ngIf="selectedProject" class="close-btn" (click)="closeSidebar()">✕</button>


  <!-- Grid-Experience -->
  <div *ngIf="view.status === ViewStatus.EXPERIENCE" class="grid-experience" #gridExp [@gridSlide]="gridState"
       (@gridSlide.done)="onGridAnimDone($event)"
       (mousedown)="handleExperienceInteraction($event)"
       (mousemove)="onExperienceDrag($event)"
       (pointerdown)="handleExperienceInteraction($event)"
       (pointermove)="onExperienceDrag($event)"
       (touchstart)="handleExperienceInteraction($event)"
       (touchmove)="onExperienceDrag($event)">
    <div *ngFor="let project of projects" class="grid-item">
      <img [src]="project.mainImgUrl[4]"
           [srcset]="getSrcset(project.mainImgUrl)"
           [sizes]="gridImageSizes()"
           [alt]="project.name"
           [attr.data-project-name]="project.name"
           (click)="onImageClick($event, project)" draggable="false">
    </div>
  </div>

  <!-- Grid-Col3 -->
  <div class="grid-container" *ngIf="view.status === ViewStatus.GRID">
    <div class="fade-div"></div>
    <div class="grid-col3" #gridCol3>
      <div *ngFor="let project of projects" class="grid-item">
        <div class="item-gallery"
             (mousedown)="handleCol3Interaction($event)"
             (mousemove)="onCol3Drag($event)"
             (pointerdown)="handleCol3Interaction($event)"
             (pointermove)="onCol3Drag($event)"
             (touchstart)="handleCol3Interaction($event)"
             (touchmove)="onCol3Drag($event)">
          <img *ngFor="let imgVariants of project.imageUrls"
               [src]="imgVariants[4]"
               [srcset]="getSrcset(imgVariants)"
               sizes="(max-width: 400px) 90vw, (max-width: 700px) 40vw, 28vw"
               [alt]="project.name"
               draggable="false">
        </div>
        <a class="col3-navigate-btn" [routerLink]="['/main', project.slug]" draggable="false">Take me to project &minus;&gt;</a>
      </div>
    </div>
  </div>

</div>
